.intern{
    display:block;
    flex-direction: row;
    align-items: flex-start;    
    justify-content: center;
    margin-left: 15px;
    margin-bottom: 15px;
    
    mat-card{
        width: 500px;
        height: 100px;
        background-color: lightpink;
        mat-card-content{
            font-size: 13px;
        }
    }

    .buttons{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .delete{
        position: absolute;
        right: 5px;
        bottom: 10px;
        }
        .edit{
            position: absolute;
            right: 45px;
            bottom: 10px;
            }

}
    
.title{
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.add{
    margin-top: 530px;
    width: 50px;
    background-color:lightpink;
    margin-left: 1430px;
}
  
  .search{
    margin-left: 500px;
    width: 500px;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }