<div>
<p class="title">Interns list:</p>
<div class="search">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchedText" autocomplete="off"/>
    <button>Search</button>
</div>
<div class="intern" *ngFor="let element of interns">
    <mat-card>
        <mat-card-header> 
            <label>FirstName: </label>
             {{element.firstname}}
        </mat-card-header>
        <mat-card-header>
             <label>LastName:</label>
             {{element.lastname}}
        </mat-card-header>
        <mat-card-header>
            <label>Age:</label>
            {{element.age}}
       </mat-card-header>
       <mat-card-header>
        <label>DateOfBirth:</label>
        {{element.dateofbirth}}
       </mat-card-header>
       <button class="edit" mat-button [mat-dialog-close]="true"  mat-icon-button><mat-icon>edit</mat-icon></button>
       <button class="delete" (click)="DeleteIntern(element.id)" mat-icon-button><mat-icon>delete</mat-icon></button>
     </mat-card>    
 </div>
 <mat-card class="add" routerLink="add-intern">
    <button mat-icon-button><mat-icon>add</mat-icon></button>
 </mat-card>
</div>