<div class="add-intern-form">
<h1>Add an intern </h1>
  <label>FirstName</label>
  <form>
      <mat-form-field>
        <input
        matInput
        name="inputFirstName"
        [(ngModel)]="firstname"
        placeholder="Enter you firstname"
        required minlength="3"/>
      </mat-form-field><br>
      <label>LastName</label><br>
      <mat-form-field>
        <input
        matInput
        name="inputLastName"
        [(ngModel)]="lastname"
        placeholder="Enter you lastname"
        required minlength="3"/>
      </mat-form-field><br>
      <label>Age</label><br>
      <mat-form-field><br>
        <input
        matInput
        name="inputAge"
        [(ngModel)]="age"
        placeholder="Enter you age"
        required minlength="2"/>
      </mat-form-field><br>
      <label>DateOfBirth</label><br>
      <mat-form-field><br>
        <input
        matInput
        name="inputDateOfBirth"
        [(ngModel)]="dateofbirth"
        placeholder="Enter you date of birth"/>
      </mat-form-field><br>
      <button class="add-button" mat-button (click)="add()" routerLink="app">Add</button>
  </form>
</div>
  